# Especificar el lenguaje que va a usar el sistema de CI
language: go

# Especificar que sólo se ejecute el CI en main
branches:
  only:
  - main

# Especificar las versiones de Go que se van a usar (las dos últimas siempre son las que tienen soporte)
go:
  - 1.17.x
  - 1.16.x

# Lo que va a hacer el sistema de CI: descargar e instalar el task runner y ejecutar los tests
script:
  - sh -c "$(curl -k --location https://taskfile.dev/install.sh)" -- -d
  - ./bin/task test